# building
/*.egg-info/
/.eggs/
/build/
/dist/
/fetchdep-*/
/pip-wheel-metadata/

# python-specific
__pycache__/
*.py[cod]
*$py.class

# testing
/htmlcov*/
/.tox/
.coverage*
!.coveragerc

# other
/.idea/
/tmpcache*/
